<% facebook_logo = "fb-logo.png"  %>
<% google_logo = "google-logo" %>
<div class="row">
  <%= link_to image_tag(facebook_logo, size: '20') + " Login with Facebook", user_omniauth_authorize_path(:facebook), class: "btn btn-primary facebook-btn" %>
</div>
<div class="row google-row">
  <%= link_to image_tag(google_logo, size: '25') + " Login with Google", user_omniauth_authorize_path(:google_oauth2), class: "btn btn-primary google-btn" %>
</div>
