@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";

body{
  color: #565A5C;
  background-color: #F8F8F8;
  .main-container{
    padding-top: 20px;
  }
}

.panel{
	border-radius: 0px;
}

.container{
	width: 80%;
}

.navbar-default{
	background-color: #FFFFFF;
	.navbar-brand{
		color: #FF5A5F;
		font-size: 2em;
		font-weight: 500;
	}
}

.btn-primary.btn{
	border: 1px solid #FF5A5F;
	border-radius: 4px;
	background-color: #FF5A5F;
	color: #FFF;
	padding: 10px 25px;
    margin-right: 20px;

	&:hover, &:focus{
		border-color: #FF7E82;
		border-bottom-color: #FA0008;
		background-color: #FF7E82;
		outline:none;
	}
	&:active{
		border-color: #E00007;
		background-color: #E00007;
		outline: none;
	}
}

.btn-default.btn{
	width: 100%;
	border-radius: 2px;
	padding: 10px 0;
	margin-top: 10px;
}

.btn-primary.btn.facebook-btn{
  border: 1px solid #3E5B99;
  background-color: #3E5B99;
  color: #FFF;

  &:hover, &:focus{
    border-color: #486AB2;
    border-bottom-color: #243559;
    background-color: #486AB2;
  }
  &:active{
    border-color: #304879;
    background-color: #304879;
  }
}

.btn-primary.btn.google-btn{
  border: 1px solid #DD4B39;
  background-color: #DD4B39;
  color: #FFF;

  &:hover, &:focus{
    border-color: #E05D4D;
    border-bottom-color: #852D22;
    background-color: #E05D4D;
  }
  &:active{
    border-color: #852D22;
    background-color: #852D22;
  }
}

.google-btn, .facebook-btn{
  width: 230px;
  img{
    position: relative;
    top: -2px;
    right: 5px;
  }
}
.panel-default .panel-heading{
	color: #565A5C;
	background-color: #EDEFED;
	font-size: 18px;
	font-weight: 400;
}

.row-space-1{
	margin-top: 6px;
	margin-bottom: 6px;
}

.row-space-2{
	margin-top: 12px;
	margin-bottom: 12px;
}

.row-space-3{
	margin-top: 24px;
	margin-bottom: 24px;
}

.description{
	color: #575757;
	font-size: 15px;
	font-weight: 500;
	line-height: 25px;
}

.avatar-small{
	width: 28px;
}

.avatar-medium{
	width: 48px;
}

.avatar-large{
	width: 68px;
}

.avatar-full{
	width: 100%;
}

.form-group{
  margin-bottom: 25px;
}

.form-control{
  border-radius: 2px;
  height: 4rem;
}

.sidebar-list{
  padding-left: 0px;
  list-style: none;
}

.sidebar-item{
  padding: 10px 0;
  font-sie: 16px;
  color: #82888A;
  border-bottom: 1px solid #CCC;
}

.sidebar-link{
  color: #82888A;
  text-decoration: none;

  &:hover, &:focus{
    color: #CACCCD;
    text-decoration: none;
  }
}

.active.sidebar-link{
  color: #565A5C;
  font-weight: bold;
  text-decoration: none;
}
